.background {
  background: linear-gradient(rgb(236, 148, 255), rgb(130, 232, 242));
}

.container {
  margin-left: 90px;
}

.picture {
  width: 150px;
  height: 120px;
  border-radius: 20px;
}

.list {
  width: 93%;
  height: 600px;
  border: solid 4px;
  border-radius: 15px;
  overflow: scroll;
}
